pt{
padding-top:50px;}
mt{
margin-top:50px;}

body{
	margin:0;
padding:0;}
h1,h2,h3,h4,h5,h6{
	margin:0;
padding:0;}

.header-images img {
    width: 120px;
    height: auto;
	   
}
.header-manu ul li{
	list-style: none;
float:left;
padding:20px;
}
.header-imagess img{ 
width: 80px;
margin-left: -40px;
}   
.header-manu{position:relative;}
		

.header-manu ul li a{
	
	font-style:Marianne-Regular;
	font-size:12px;
	color:#767676;
	text-transform:uppercase;
	list-style: none;
	text-decoration: none;
}
.header-imagess{
position:relative;}
.header-imagess:After{
	content:"";
	height:60px;
	width:2px;
	position:absolute;
background:gray;
margin-left:30px;
top:20px;
}
.header-manu ul:After{
	content:"";
	height:60px;
	width:1px;
	position:absolute;
background:gray;
margin-left:30px;
top:8px;
margin-right:70px;
}
.header-manu ul li:hover a{
color:red;}


.engagement{
background:url('images/3.png') no-repeat scroll 0 0 / 100% 100%;
width: auto;
height:790px;
}
.images-bg h1{padding-left: 10%;

padding-top: 20%;
	font-size:80px;
font-style:Marianne Bold;
color:red;
text-transform:uppercase}

.images-bg h2{
	font-size:48px;
font-style:Marianne bold;
color:red;
padding-left: 10%;


}
.images-bg h3{
	width: 50%;
padding-bottom: 20px;
margin-left: 10%;
padding-left: 20%;
margin-top: -59px;

	font-size:50px;
font-style:Marianne;
color:white;
border-bottom:3px dotted white;
}
.AROW h4{border:2px solid red;	
font-style:Marianne bold;
font-size:13px;

width: 10%;
padding: 10px 10px;
border-right: none;
text-transform: uppercase;
}
.AROW h5{
	margin-left: 11%;
margin-top: -27px;	
font-style:Marianne bold;
font-size:13px;
text-transform: uppercase;
}
.AROW{

position:relative;
color: white;
margin-top: 50px;
margin-left: 150px;
padding: 10px 15px;}
.aunty{
position:relative;}

.aunty img {
	
  width: 100%;
height: auto;
padding-top: 44px;
}

.aunty h6 {
    font-size: 45pt;
font-style: Marianne;
top: 46px;

padding-top: 33px;
color: #364798;
left: 106%;

position: absolute;
}

.child img {

margin-top: 82%;
width: 100%;
padding-right: 20px;
}
.relation img {
  
      margin-left: -8%;
margin-top: 130%;
    height: 399px;
    width: auto;
}

.images-7 img{width:100%;
	
position:relative;}	
.images-7 h6 {position:absolute;
content:"";
    background-color: #364798;
    color: white;
    padding: 3px;
    width: 63%;
    font-style: Spectral;
	left: 0;

right: 75px;
margin: auto;
bottom: 87px;
	
}
.images-7 date {
	margin-left: 10px;
    color: #5C5654;
}
.images-7 p{
	margin-left: 10px;
	font-size:15px;
    color:#364798;
	font-style:regular;
}
.AROW-2 {
padding-bottom: 55px;}
.AROW-2 h4{
    border: 2px solid #D1CCCA;
       
    font-style: Marianne bold;
    font-size: 14px;
    width: 9%;
    padding: 10px 10px;
    border-right: none;
    text-transform: uppercase;
    margin-left: 42%;
    color: #364798;
	    margin-top: 50px;
}
.AROW-2 h5 {
	font-style:Marianne bold;
	font-size:15px;
	text-transform: uppercase;
    color: #364798;
    margin-left: 52%;
    margin-top: -32px;
}
.entartain-area {
    margin-top: 40px;
}
.AROW img {
   position: absolute;
content: "";
top: 0;
left: 61%;
bottom: 0;
}
.research {
	margin-top: 145px;

	margin-left: 12%;
	padding:5px;
    margin-top: 65px;
    border: 2px solid #D8D5D4;
    width: 25%;
}
.research h1{
	padding-left:7px;
	color:#D8D5D4;
	font-size:17px;
font-style:Marianne;}

 .research h2{
	font-size:17px;
font-style:Marianne;
color:red;
margin-left: 40%;
margin-top: -20px;
padding-left:89px;
}
 .shadow img {padding-left: 39px;
    margin-top: -12%;
    width: 401px;
 height: auto;}
 .shadow-p p {
    margin-left: 48%;
    color: #D20042;
    font-size: 65px;
    margin-top: -12%;}
.images-10 h2 {
    width: 80%;
font-size: 21px;
text-align: center;
}
.footer-area{
background:#EDE9EA;}

.images-10 h1 {
font-size: 15pt;
width: 78%;
text-align: center;
padding-bottom: 45px;;}

.images-10 img {margin-top: 50px;
   width: 275px;
    height: 300px;}

.text {
  
    left: 62%;
    bottom: 250px;

    position: relative;
padding-top: 30px;}
.box {
    height: 300px;
    width: 270px;
    background:#D20042;
    bottom: 300px;
    
    left: 275px;
}
.images-11 img {
	margin-top: 50px;
    width: 275px;
    height: 300px;
}
.text h1{
color:#D20042;}
.box1 {
    height: 300px;
    width: 270px;
    background:white;
    bottom: 300px;
    
    left: 275px;
}
.box h2 {
    width: 83%;
    color: white;
    font-size: 20px;
    text-align: center;
padding-left: 29px;}

.box h1 {
    width: 53%;
    color: white;
    padding-left: 80px;
    font-size: 19px;
    text-align: center;
padding-bottom: 37px;}

.ges-10 img {
	    position: relative;

    width: 100%;
}
.ges-10 {
    margin-top: -100%;
}
.pal-2 h1 {
    background: #D20042;
    width: 49px;
    font-size: 21px;
    color: white;
    text-align: center;
   
    height: 55px;

    position: absolute;
    left: 20px;
    right: 0;
   content: "";
bottom: 142px;
padding-top: 13px;
margin-left: 6px;
}
.pal-2 h2 {
	border-bottom: 2px dotted gray;
width: 90%;
	padding-bottom: 37px;
    font-size: 14px;
	text-transform: uppercase;
    color: #D20042;
    padding-top: 7px;
padding-left: 70px;
    margin-left: 10px;
}

.pal-2 {
   height: 100%;
	background:white;
}
.pal-2 p {
    margin-top:27px;
    font-size: 15px;
padding-bottom: 20px;
padding-left: 13px;}
.AROW-3 {
padding-bottom: 55px;}
.AROW-3 h4{
    border: 2px solid #D1CCCA;
       
    font-style: Marianne bold;
    font-size: 14px;
    width: 13%;
    padding: 10px 10px;
    border-right: none;
    text-transform: uppercase;
    margin-left: 40%;
    color: #D20042;
	    margin-top: 50px;
}
.AROW-3 h5 {
	font-style:Marianne bold;
	font-size:15px;
	text-transform: uppercase;
    color: #D20042;
    margin-left: 54%;
    margin-top: -30px;
}
.gess img {
    width: 80px;
height: auto;}

.gess {
    padding-left: 13%;
padding-top: 60px;}
.last-area {
	    height: 350px;
    background: #D20042;
	width: 1520px;
}
.last-pera h1{
    position: relative;
    color: white;
    font-size: 19px;
    left: 350px;
    top: -100px;
    bottom: 0;
}


.last-pera h1 :after {
position:absolute;
content:"";
border-bottom:2px solid blue;

width:50px;
height:3px;}

.last-pera h2 {
    position: relative;
    color: white;
    font-size: 29px;
    left: 340px;
bottom: 70px;}
.AROW-4{
    padding-bottom: 55px;
}
.AROW-4 h4 {
    border: 2px solid #D1CCCA;
        border-right-color: rgb(209, 204, 202);
        border-right-style: solid;
        border-right-width: 2px;
    font-style: Marianne bold;
    font-size: 14px;
    width: 10%;
    padding: 10px 10px;
    border-right: none;
    text-transform: uppercase;
    margin-left: 40%;
    color: white;
    margin-top: 50px;
}
.AROW-4 h5 {
    font-style: Marianne bold;
    font-size: 15px;
    text-transform: uppercase;
    color:white;
    margin-left: 51%;
    margin-top: -30px;
}
.gos img {
    
    left: 1200px;
    color: white;
    position: relative;
bottom: 470px;}
.AROW-4 img {
    position: absolute;
    left: 1200px;
    bottom: 0;
top: 3100px;}